html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth; 
}
.parallax__group { 
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parralax-container { 
  background-size:cover;
}
.container {
  display: flex;
  width: fit-content;
  height: fit-content; 
  position: relative; 
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

.box { 
  width: 100%; 
  height: 100%; 
  position: absolute;
  display: flex;
  top: 0;
  left:0; 
  opacity: 0.7 
}

.overlay { 
  z-index: 9; 
  margin: 333px; 
  overflow-x: hidden;

}

.container img { 
  size: 1500px , 1500px 
  
}

body { 
  background-image:url('../img/background01.jpg');
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
 
 
} 



.intro {
  text-align: center;
  margin: 50%;
  min-width: 100px;
}

h1 { 
  color: #333

}

.nav {
  background-color: azure;
  padding: 52px;
  opacity: 0.5; 
  margin-top: 25px; 
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 99px;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav:hover { 
  opacity: 1;
  cursor: pointer;
  background-image:url('../img/background01.jpg');
  border-color: gold;
  
  
}
.navbar { 
  align-self: center;
  padding: 37.5px; 
  margin: 18px 33px; 
  width: 150px; 
  height: 10px;
  display: flex; 
  opacity: 0.8; 
  border-radius: 99px;
  background-color:aqua;
  text-align: center;

  flex-direction: row;
  
  justify-content: space-between;
  border-style:dotted;
  


  
}

.navbar:hover { 
  opacity: 1;
  cursor: pointer;
  background-image:url('../img/background01.jpg');
  
}

ul{ 
  height: 15px;
  display: flex;
  flex-direction: row;
}

.wave.h2 {
  color: red;
}

