
.parallax__group { 
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parralax-container { 
  background-size:cover;
}
.container {
  display: flex;
  width: 150px;
  height: 150px; 
  position: relative; 
  margin: 30px ; 
  overflow-x: auto; 
}

.container img { 
  size: 1500px , 1500px 
}

body { 
  display: flex; 
  align-items: center;
  margin: 0%;
 
} 



h1 { 
  color: #333
}
