
.parallax__group { 
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parralax-container { 
  background-size:cover;
}
.container {
  display: flex;
  width: 1500px;
  height: 1500px; 
  position: relative; 
  margin: 30px ; 
  overflow-x: auto; 
}

.box { 
  width: 100%; 
  height: 100%; 
  position: absolute;
  top: 0;
  left:0; 
  opacity: 0.7 
}

.overlay { 
  z-index: 9; 
  margin: 333px; 

}

.container img { 
  size: 1500px , 1500px 
}

body { 
  display: flex; 
  align-items: center;
  margin: 0%;
 
} 

p {
  text-align: center;
}

h1 { 
  color: #333
}
